Repository fpga-open-speech-tools/utils: changes, and which Jenkins stages are due for each by the changed paths.
All: Frost Edge, Image Builder - Audio Mini, Frost Root File System

Frost Edge:
                              steps 
                              {
                                  build job: 'Frost_Edge'
                              }
                          

Image Builder - Audio Mini:
                              steps
                              {
                                  build job: 'audiomini-linux-image'
                              }
                          

Frost Root File System:
                              steps 
                              {
                                  build job: 'Frost_RootFS'
                              }
                          

Removed the Read Me Call Out Numbers
  image_builder/audiomini/build_audiomini_image.sh
Due: Image Builder - Audio Mini

Updated the instructions
  image_builder/audiomini/ReadMe.md
Due: Image Builder - Audio Mini

Removed the debugging line that was commetted out
  image_builder/audiomini/docker_build_audiomini.sh
Due: Image Builder - Audio Mini

Updated the git ignore with the folder change
  .gitignore
Due: none

Added comments to the Docker file
  image_builder/audiomini/Dockerfile
Due: Image Builder - Audio Mini

Added copy artifact of the Audio Mini Passthrough RBF
  image_builder/audiomini/Jenkinsfile
Due: Image Builder - Audio Mini

Update the project name
  image_builder/audiomini/Jenkinsfile
Due: Image Builder - Audio Mini

Updated Jenkins Project Name
  frost_edge/Jenkinsfile
Due: none

Updated back to the Linux LKM Jenkins Pipeline
  frost_edge/Jenkinsfile
Due: none

Make uSD Card Image for the Audio Mini (#24)
  .gitignore
  Jenkinsfile
  ReadMe.md
  image_builder/README.md
  image_builder/audiomini/Dockerfile
  image_builder/audiomini/Jenkinsfile
  image_builder/audiomini/ReadMe.md
  image_builder/audiomini/build_audiomini_image.sh
  image_builder/audiomini/docker_build_audiomini.sh
  image_builder/frost_usd_card_blueprint.xml
Due: Image Builder - Audio Mini

Updated the default password
  rootfs/setup_rootfs.sh
Due: Frost Root File System

Removed the to-do comment
  rootfs/setup_rootfs.sh
Due: Frost Root File System

Updated the default password (#27)
  rootfs/setup_rootfs.sh
Due: Frost Root File System

Path conditions:
  Frost Edge: (any of: frost_edge *) or (any of: runtime_config/*)
  Image Builder - Audio Mini: (any of: image_builder/frost_usd_card_blueprint.xml) or (any of: image_builder/audiomini/*)
  Frost Root File System: any of: rootfs/*
